/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header {
    height: auto;
    position: static;
    overflow: visible;
  }
  .header__blackline {
    position: static;
  }
  .h-nav {
    display: none;
  }
  .mob__h-nav {
    height: 56px;
    text-align: center;
  }
  .mob__h-nav button {
    height: 56px;
    width: 56px;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 34px;
    border: none;
    background-color: transparent;
  }
  .mob__h-nav button:active {
    opacity: 0.8;
  }
  .header__h-nav {
    position: relative;
    height: 56px;
  }
  .header__h-search::after {
    content: '';
    display: table;
    clear: both;
  }
  .header__h-search::before {
    content: '';
    display: table;
  }
  .h-nav {
    height: auto;
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    width: 290px;
    margin: 0 auto;
    z-index: 10;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 1px 0px #ebebeb;
    -moz-box-shadow: 0px 1px 1px 0px #ebebeb;
    box-shadow: 0px 1px 1px 0px #ebebeb;
  }
  .h-nav__item {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .h-nav__item::after {
    display: none;
  }
  .h-nav__link {
    display: inline-block;
    line-height: 36px;
  }
  .h-blackline__item {
    width: 33.3%;
  }
  .p-reviews {
    margin-bottom: 30px;
  }
  .pb-reviews {
    margin-top: -30px;
  }
  .h-info::after {
    content: '';
    display: table;
    clear: both;
  }
  .h-info::before {
    content: '';
    display: table;
  }
  .h-info__item {
    width: 33.33333%;
    float: left;
    padding: 0;
    text-align: center;
  }
  .h-info__link {
    line-height: 36px;
  }
  .h-gps {
    text-align: center;
  }
  .h-logo {
    text-align: center;
  }
  .h-phone {
    text-align: center;
  }
  .h-basket {
    text-align: center;
  }
  .f-nav {
    margin-top: 20px;
  }
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .h-blackline__item {
    width: 100%;
  }
  .p-prod__link {
    width: 290px;
    margin: 0 auto;
  }
  .p-reviews {
    padding-left: 0;
    text-align: center;
  }
  .p-reviews__img {
    float: none;
    position: static;
    display: inline-block;
    margin-bottom: 10px;
  }
  .p-reviews__bottom {
    text-align: left;
  }
  .pb-reviews__button {
    text-align: center;
  }
  .f-nav__title {
    text-align: center;
  }
  .f-nav__item {
    text-align: center;
  }
  .f-contact__adr {
    text-align: center;
  }
  .f-contact__soc {
    text-align: center;
  }
  .f-copy {
    text-align: center;
  }
  .f-nav {
    margin-top: 10px;
  }
  .p-contlist__item {
    text-align: center;
  }
  .p-map__map iframe {
    height: 320px;
  }
  .p-contlist {
    padding: 10px 0;
  }
  .p-conttitle {
    text-align: center;
  }
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .h-info__item {
    float: none;
    width: 100%;
  }
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .h-nav {
    display: block !important;
  }
  .mob__h-nav {
    display: none;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
